{% extends 'base.html' %}

{% load static %}


{% block title %}404 Error | dailyRead.com{% endblock title %}

{% block content %}
    
<div class="error-page">
    <div><img src="{% static 'opps.png' %}" alt=""></div>
    <div><h1>404: PAGE NOT FOUND</h1></div>
    <h4>Why might you get a 404 error?</h4>
    <ul>
        <li>The server is down.</li>
        <li>The page moved and wasn't redirected.</li>
        <li>The page never existed.</li>
        <li>The user wrongly typed the URL.</li>
        <li>The URL is broken.</li>
        <li>Unauthorized entry.</li>
    </ul>
</div>
{% endblock content %}
    